<h1>Set new Password</h1>
<form id="SetNewPwForm" onsubmit="setNewPW(); return false">
    <input type="mail" id="email_pw" name="email" value="{{ email }}">
    <input type="password" id="new-pw1" name="new_pw1">
    <input type="password" id="new-pw2" name="new_pw2">
  <button id="submitNewPw">Reset Password</button>
</form>

<style>
    #email_pw{
        display: none;
    }
</style>
<script>
    function setNewPW(){
        const email = document.getElementById('email_pw').value;
        const pw1 = document.getElementById('new-pw1').value;
        const pw2 = document.getElementById('new-pw2').value;
        const url = 'http://127.0.0.1:8000/set_new_pw/';
        debugger
        if(pw1 === pw2){
            
            const body = {
                        "email": email,
                        "pw": pw1
            };
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(body)
            }).then(response => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Network response was not ok.');
            }).then(data => {
                console.log('Success:', data);
            }).catch(error => {
                console.error('Error:', error);
            });
        }
    }
</script>